:root {
    --background: #131313;
    --primary-colour-yellow: #f3d875;
    --primary-colour-green: #748d43;
    --primary-colour-blue: #739af0;
    --font-colour: #ffffffba;
    --font-colour-opaque: #ffffff;
    --heading-font-colour: #ffffff;

    /* Graph variables */
    --color-text: var(--font-colour);
    --color-text-dim: var(--font-colour);

    --h1-heading-font-size: 2.3rem;
    --navbar-font-size: 1.4rem;
    --body-font-size: 1.3rem;
    --post-link-font-size: 1.5rem;

    --search-width: 140px;
    --search-width-focus: 350px;
}

@font-face {
    font-family: Inter;
    src: url(/static/fonts/inter-regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    font-size: var(--body-font-size);
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: calc(var(--body-font-size) + 0.5rem);

    color: var(--font-colour);
    background-color: var(--background);
}

.body-container {
    margin: auto;
    padding: 30px;
    width: 750px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background);
}

p {
    opacity: 0.9;
}

header,
footer {
    flex: 0;
}

footer {
    padding: 10px 0 10px;
    color: var(--font-colour);
    text-align: center;
}

footer a {
    color: var(--primary-colour-yellow);
}

.body {
    flex: 1 0 auto;
}

a {
    color: var(--primary-colour-blue);
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    text-align: center;
}

nav a {
    font-size: var(--navbar-font-size);
    color: var(--primary-colour-yellow);
}

.search {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#searchSiteInput {
    width: var(--search-width);
    padding: 5px;

    outline: none;
    border: none;
    border-bottom: 2px var(--primary-colour-yellow) solid;
    color: var(--font-colour);
    background-color: var(--background);
}

#searchSiteInput:focus-visible {
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;

    width: var(--search-width-focus);
    color: var(--font-colour);
    padding: 5px;
}

#searchSiteInput::placeholder {
    color: var(--primary-colour-yellow);
    font-size: calc(var(--navbar-font-size) - 0.3rem);
}

#site_search_result {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-card {
    padding: 3px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.post-card-date {
    font-size: calc(var(--body-font-size) - 0.2rem);
    font-weight: 300;
}

.post-card-link {
    font-size: var(--post-link-font-size);
}

.post-card a {
    text-decoration: none;
    color: var(--primary-colour-green);
}
.post-card a:hover {
    text-decoration: underline;
}

.tags-placeholder,
.post-tags-placeholder {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    font-weight: 400;
}

.tags-placeholder a,
.post-tags-placeholder a {
    color: var(--primary-colour-green);
    font-style: italic;
}

.tags-placeholder {
    margin-top: 10px;
}

.tagpage-tags-placeholder {
    margin-top: 20px;
}
.tagpage-tags-placeholder a {
    font-style: normal;
    color: var(--primary-colour-blue);
}

.tag-subpage-keyword {
    color: var(--primary-colour-blue);
}

#chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hoverDiv {
    background-color: var(--background);

    box-shadow: 0 0 15px #1e1e1e7a;
    margin: 1rem;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    border-radius: 0.3rem;

    & > p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        padding: 0;
        font-size: 0.85rem;
    }

    & > img {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.1rem;
        width: 100%;
        padding: 0;
    }

    & > .date {
        color: var(--color-text-dim);
    }
}

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}
.anchor {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
hr {
    border: 1px solid var(--font-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Bebas Neue", sans-serif;
    font-weight: 400; */
    font-family: "Yantramanav", sans-serif;
    font-weight: 500;
    /* text-decoration: underline; */

    margin: 0;
    /* letter-spacing: 0.5px; */
    /* line-height: calc(var(--h1-heading-font-size) + 0.2rem); */
    color: var(--heading-font-colour);
    &:hover {
        .anchor {
            opacity: 1;
        }
    }
}

h1 {
    font-size: var(--h1-heading-font-size);
    margin-top: calc(var(--h1-heading-font-size) - 0.1rem);
}
h2 {
    font-size: calc(var(--h1-heading-font-size) - 0.2rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.3rem);
}

h3 {
    font-size: calc(var(--h1-heading-font-size) - 0.4rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.5rem);
}
h4 {
    font-size: calc(var(--h1-heading-font-size) - 0.6rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.6rem);
}
h5 {
    font-size: calc(var(--h1-heading-font-size) - 0.7rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.7rem);
}
h6 {
    font-size: calc(var(--h1-heading-font-size) - 0.8rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.8rem);
}

blockquote {
    border-left: 5px var(--primary-colour-blue) solid;
    margin-left: 0;
    padding: 10px;
    padding-left: 20px;

    color: var(--font-colour-opaque);
}

@media (max-width: 750px) {
    :root {
        --h1-heading-font-size: 1.5rem;
        --navbar-font-size: 1.2rem;
        --body-font-size: 1rem;
        --post-link-font-size: 1.3rem;

        --search-width: 120px;
        --search-width-focus: 250px;
    }

    .body-container {
        padding: 15px;
        width: auto;
    }

    nav {
        gap: 0.5em;
        font-size: 1.1rem;
    }

    svg {
        width: auto;
        height: auto;
    }
}
