:root {
    --background: #F8F0E5;
    /* --primary-colour: #701adb; */
    --primary-colour: #102C57;
    --font-colour: #000000;
    --tag-background: #D8C4B6;

    /* Graph variables */
    --color-text: var(--font-colour);
    --color-text-dim: var(--font-colour)
}

@font-face {
    font-family: Inter;
    src: url(/static/fonts/inter-regular.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(/static/fonts/merriweather.ttf);
}

@font-face {
    font-family: Metropolis;
    src: url(/static/fonts/metropolis.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    font-size: 1.1rem;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-weight: 100;

    color: var(--font-colour);
    background-color: var(--background);
}

.body-container {
    margin: auto;
    padding: 30px;
    width: 650px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background);
}

header,
footer {
    flex: 0;
}

footer {
    padding: 10px 0 10px;
    color: var(--font-colour);
    text-align: center;
}

.body {
    flex: 1 0 auto;
    line-height: 1.7em;
}

a {
    color: var(--primary-colour);
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    text-align: center;
}

.search {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#searchSiteInput {
    padding: 5px;

    border: 3px var(--primary-colour) solid;
    border-radius: 5px;
    color: var(--font-colour);
    background-color: var(--background);
}

#searchSiteInput:focus-visible {
    border: 4px var(--primary-colour) solid;
    border-radius: 5px;
    color: var(--font-colour);
    padding: 5px;
}

#searchSiteInput::placeholder {
    color: var(--font-colour);
}

#site_search_result {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tags-placeholder {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.tags-placeholder a {
    font-weight: 600;
    border-radius: 5px;

    padding: 0.2em;

    background-color: var(--tag-background);
    color: var(--primary-colour);
    border: 0.1em solid var(--tag-background);
}

.post-card {
    padding: 0.5em 0;
}

.post-card a {
    text-decoration: none;
}

.post-card a:hover {
    text-decoration: underline;
}

#chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hoverDiv {
    background-color: var(--background);

    box-shadow: 0 0 15px #1e1e1e7a;
    margin: 1rem;

    display: flex;
    flex-direction: column;

    padding: .5rem;

    border-radius: .3rem;

    &>p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        padding: 0;
        font-size: .85rem;
    }

    &>img {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: .1rem;
        width: 100%;
        padding: 0;
    }

    &>.date {
        color: var(--color-text-dim);
    }

}

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Metropolis', 'Times New Roman', Times, serif;
    color: var(--primary-colour);
}

blockquote {
    border-left: 5px var(--primary-colour) solid;
    margin-left: 0;
    padding: 10px;
    padding-left: 20px;
}

@media (max-width: 650px) {
    body {
        font-size: 1rem;
    }

    .body-container {
        padding: 15px;
        width: auto;
    }

    nav {
        gap: 0.5em;
        font-size: 1.1rem;
    }
}