{{ define "all-posts"}}
{{$PageData := index .DeepDataMerge.Collections .PageURL}}
{{ template "head" .}}

<body>
  <div class="body-container">

    {{template "header" .}}

    <div class="body">

      <div class="posts">
        <h2>Posts</h2>

        {{range $Post := index .DeepDataMerge.CollectionsMap .PageURL}}
        <div class="post-card">
            <span class="post-card-date">{{$Post.Frontmatter.Date}}</span>
            <a class="post-card-link" href="/{{$Post.CompleteURL}}">
              {{$Post.Frontmatter.Title}}
            </a>
            <!-- <div class="post-card-description">{{$Post.Frontmatter.Description}}</div> -->
        </div>
        {{end}}

      </div>
    </div>

    {{template "footer" .}}

  </div>
</body>

</html>

{{ end}}
