{{ define "collection-subpage"}}
{{$PageData := index .DeepDataMerge.Collections .PageURL}}
{{ template "head" .}}

<body>
  <div class="body-container">

    {{template "header" .}}

    <div class="body">

      <script>NekoType = "white"</script>
      <h1 id=nl>
        <script src="https://webneko.net/n20171213.js"></script><a href="https://webneko.net">Neko</a>
      </h1>

      <div class="tagged-posts">
        <h2>Posts tagged
          <span class="tag-subpage-keyword">{{$PageData.Frontmatter.Title}}</span>
        </h2>
        <div class="post-tags-placeholder tagpage-tags-placeholder">

          {{$CollectionSet := index .DeepDataMerge.CollectionsMap .PageURL}}
          {{range $CollectionSet }}
          <a href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a>
          {{end}}

        </div>
      </div>
    </div>

    {{template "footer" .}}

  </div>
</body>

</html>

{{ end}}