{{ define "page"}}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
{{ template "head" .}}

<body>
    <div class="body-container">
        {{template "header" .}}
        <div class="body">

            {{if strSliceContains $PageData.Frontmatter.Collections "posts"}}
            <h1 class="page-title-header">{{$PageData.Frontmatter.Title}}</h1>
            {{end}}

            <div class="tags-placeholder">
                {{range $PageData.Frontmatter.Tags}}
                <a href="/tags/{{.}}.html">
                    {{.}}
                </a>
                {{end}}
            </div>

            {{$PageData.Body}}

        </div>

        {{template "footer" .}}

    </div>
</body>

</html>

{{ end}}
