{{ define "posts"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
  <div class="body-container">

    {{template "header" .}}

    <div class="body">
      <article>
        <div class="posts">
          <h2>Posts</h2>

          {{range $PostDate, $Post := .DeepDataMerge.Posts}}
          <div class="post-card">
            <a id="post-link" href="{{$Post.CompleteURL}}">
              {{$Post.Frontmatter.Title}}
            </a>
          </div>
          {{end}}

        </div>
      </article>
    </div>

    {{template "footer" .}}

  </div>
</body>

</html>

{{ end}}