{{ define "all-tags"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
  <div class="body-container">

    {{template "header" .}}

    <div class="body">
      <article>
        <div class="all-tags">
          <h2>Tags</h2>
          <div class="tags-placeholder">

            {{range .TagNames}}
            <a href="tags/{{.}}.html">{{.}}</a>
            {{end}}

          </div>
        </div>

        <div id="chart"></div>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="/static/scripts/graph.js"></script>

      </article>
    </div>

    {{template "footer" .}}

  </div>
</body>

</html>

{{ end}}