:root {
    /* --background: #1e2021;
    --primary-colour: #f0bf4f;
    --font-colour: #f9f1cb;
    --tag-background: #3b3836; */

    --background: #121212;
    --primary-colour: #BB86FC;
    --font-colour: #ffffff;
    --tag-background: #1f1f1f;

    --links-colour: var(--primary-colour);
    --headings-colour: var(--primary-colour);
    --tag-font-colour: var(--primary-colour);

    /* Water CSS variables */
    --background-body: var(--background);
    --background: var(--background);
    /* --background-alt: ; */
    /* --selection: var(--primary-colour); */
    --text-main: ;
    --text-bright: ;
    --text-muted: ;
    --links: var(--links-colour);
    --focus: var(--primary-colour);
    --border: var(--primary-colour);
    --code: var(--primary-colour);
    /* --animation-duration: ; */
    --button-hover: ;
    --scrollbar-thumb: ;
    --scrollbar-thumb-hover: ;
    --form-placeholder: ;
    --form-text: ;
    --variable: var(--primary-colour);
    --highlight: var(--primary-colour);
    --select-arrow: var(--primary-colour);

    /* Graph variables */
    --color-text: var(--font-colour);
    --color-text-dim: var(--font-colour)
}

body {
    color: var(--font-colour);
    background-color: var(--background);
}

.body-container {
    background-color: var(--background);
}

.tags-placeholder a {
    background-color: var(--tag-background);
    color: var(--tag-font-colour);
    border: 0.1em solid var(--tag-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headings-colour);
}

#searchSiteInput {
    border: 1px var(--primary-colour) solid;
    color: var(--font-colour);
}

#searchSiteInput::placeholder {
    color: var(--font-colour);
}

/* Layout styles */

body {
    min-height: 90vh;
    margin: 1em auto;

    padding: 1em 1em;
    line-height: 1.7em;
    font-size: 1.1rem;
}

.body-container {
    min-height: 90vh;

    padding: 1em 2em;

    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: 0;
}

footer {
    color: var(--font-colour);
    text-align: center;
}

.body {
    flex: 1 0 auto;
}

a {
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    text-align: center;
}


.theme-and-search {
    margin-top: 10px;
    display: flex;
}

.theme-toggle-div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

svg {
    width: 100%;
    height: auto;
}

#theme-toggle {
    height: 20px;
    width: auto;
    cursor: pointer;
    display: auto;
}

.tags-placeholder {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.tags-placeholder a {
    font-weight: 600;
    border-radius: 5px;

    padding: 0.2em;
}

.post-card {
    padding: 0.5em 0;
}

.post-card a {
    text-decoration: none;
}

.post-card a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    body {
        margin: 1em 0.5em;
        padding: 0 0;

        font-size: 1rem;
    }

    .body-container {
        padding: 1em 1em;
    }
}