:root {
    /* Gruvbox light variables */
    --bg_h: #f9f5d7;
    --bg: #fbf1c7;
    --bg_s: #f2e5bc;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;

    --fg: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --orange: #af3a03;
    --gray: #928374;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458598;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --orange-dim: #d65d0e;
    --gray-dim: #7c6f64;


    --background: var(--bg_h);
    --primary-colour: var(--yellow);
    --font-colour: var(--fg);
    --heading-font-colour: var(--primary-colour);
    --postcard-link-colour: var(--primary-colour);
    --navbar-link-colour: var(--aqua);
    --link-colour: var(--blue);
    --separator-colour: var(--green);

    --h1-heading-font-size: 2.3rem;
    --navbar-font-size: 1.3rem;
    --body-font-size: 1.2rem;
    --code-font-size: 1rem;
    --post-link-font-size: 1.3rem;
}

[data-theme="dark"] {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
}

@font-face {
    font-family: Quicksand;
    src: url(/static/fonts/Quicksand-Medium.otf);
}

@font-face {
    font-family: Britney;
    src: url(/static/fonts/Britney-Regular.otf);
}

@font-face {
    font-family: IBM Plex;
    src: url(/static/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM Plex Italic;
    src: url(/static/fonts/IBMPlexSans-Italic.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    font-size: var(--body-font-size);
    font-family: "IBM Plex", sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: calc(var(--body-font-size) + 0.3rem);

    color: var(--font-colour);
    background-color: var(--background);
}

.body-container {
    margin: auto;
    padding: 30px;
    width: 750px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background);
}

p {
    opacity: 0.9;
}

header,
footer {
    flex: 0;
}

header {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--separator-colour);
}

footer {
    padding: 10px 0 10px;
    border-top: 2px solid var(--separator-colour);
    color: var(--font-colour);
    text-align: center;
}

footer a {
    color: var(--blue);
}

.body {
    flex: 1 0 auto;
}

a {
    text-decoration: underline;
    color: var(--link-colour);
}

hr {
    border: 1px solid var(--separator-colour);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav-links-search {
    display: flex;
    flex-direction: column;
}

nav-links {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    text-align: center;
}

nav-links a {
    /* text-decoration: none; */
    font-size: var(--navbar-font-size);
    color: var(--navbar-link-colour);
}

#theme-toggle-button {
    border: none;
    background-color: var(--background);
}

.search {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#searchSiteInput {
    width: auto;

    outline: none;
    border: 2px var(--primary-colour) solid;
    border-radius: 5px;
    padding: 8px;

    color: var(--font-colour);
    background-color: var(--background);
}

#searchSiteInput::placeholder {
    color: var(--font-colour);
    font-size: (var(--body-font-size) - 0.1rem);
}

#site_search_result {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-card {
    padding: 3px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.post-card-date {
    font-size: calc(var(--body-font-size) - 0.2rem);
    font-weight: 300;
}

.post-card-link-and-description {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post-card-link {
    font-size: var(--post-link-font-size);
}

.post-card a {
    text-decoration: underline;
    color: var(--postcard-link-colour);
}

.post-card a:hover {
    text-decoration: underline;
}

.tags-placeholder,
.post-tags-placeholder {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    font-weight: 400;
}

.tags-placeholder a,
.post-tags-placeholder a {
    color: var(--postcard-link-colour);
    font-style: italic;
}

.tags-placeholder {
    margin-top: 10px;
}

.tagpage-tags-placeholder {
    margin-top: 20px;
}

.tagpage-tags-placeholder a {
    font-style: normal;
    color: var(--link-colour);
}

.tag-subpage-keyword {
    color: var(--link-colour);
}

#chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hoverDiv {
    background-color: var(--background);

    box-shadow: 0 0 15px #1e1e1e7a;
    margin: 1rem;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    border-radius: 0.3rem;

    &>p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        padding: 0;
        font-size: 0.85rem;
    }

    &>img {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.1rem;
        width: 100%;
        padding: 0;
    }

    &>.date {
        color: var(--color-text-dim);
    }
}

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

.anchor {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "IBM Plex Italic", sans-serif;
    font-weight: 500;

    margin: 0;
    color: var(--heading-font-colour);

    &:hover {
        .anchor {
            opacity: 1;
        }
    }
}

h1 {
    font-size: var(--h1-heading-font-size);
    margin-top: calc(var(--h1-heading-font-size) - 0.1rem);
}

h2 {
    font-size: calc(var(--h1-heading-font-size) - 0.2rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.3rem);
}

h3 {
    font-size: calc(var(--h1-heading-font-size) - 0.4rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.5rem);
}

h4 {
    font-size: calc(var(--h1-heading-font-size) - 0.6rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.6rem);
}

h5 {
    font-size: calc(var(--h1-heading-font-size) - 0.7rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.7rem);
}

h6 {
    font-size: calc(var(--h1-heading-font-size) - 0.8rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.8rem);
}

blockquote {
    border-left: 5px var(--primary-colour) solid;
    margin-left: 0;
    padding: 10px;
    padding-left: 20px;

    color: var(--font-colour-opaque);
}

code {
    font-size: var(--code-font-size);
}

@media (max-width: 900px) {
    .body-container {
        padding: 15px 45px;
    }

    svg {
        width: auto;
        height: auto;
    }
}

@media (max-width: 750px) {
    :root {
        --h1-heading-font-size: 2rem;
        --navbar-font-size: 1.1rem;
        --body-font-size: 1rem;
        --code-font-size: 0.8rem;
        --post-link-font-size: 1.1rem;
    }

    .body-container {
        padding: 15px 20px;
        width: auto;
    }

    svg {
        width: auto;
        height: auto;
    }

    .search {
        padding: 0px 0.1em 0px;
    }

    #searchSiteInput {
        width: 100%;
    }
}


.theme-switch-wrapper {
    display: flex;
    align-items: center;

    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}