:root {
    --background: rgb(255, 252, 240);
    --primary-colour: rgb(16, 15, 15);
    --font-colour: var(--primary-colour);
    --heading-font-colour: var(--primary-colour);
    --postcard-link-colour: var(--primary-colour);
    --navbar-link-colour: var(--primary-colour);
    --link-colour: var(--primary-colour);
    --separator-colour: var(--primary-colour);

    --h1-heading-font-size: 1.8rem;
    --navbar-font-size: 1rem;
    --body-font-size: 1.2rem;
    --code-font-size: 0.9rem;
    --post-link-font-size: 1.3rem;

    --body-font-family: "EB Garamond", serif;
    --heading-font-family: "Inter", sans-serif;
    --code-font-family: "JetBrains Mono", serif;
    --post-card-heading-font-family: var(--heading-font-family);
    --navbar-font-family: var(--heading-font-family);
}

/* Dark theme */
[data-theme="dark"] {
    --background: rgb(16, 15, 15);
    --primary-colour: rgb(206, 205, 195);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    font-weight: 400;
    font-style: normal;

    line-height: calc(var(--body-font-size) + 0.3rem);

    color: var(--font-colour);
    background-color: var(--background);
}

.body-container {
    margin: auto;
    padding: 30px;
    width: 750px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background);
}

p {
    opacity: 0.9;
}

header,
footer {
    flex: 0;
}

header {
    padding-bottom: 10px;
    /* border-bottom: 2px solid var(--separator-colour); */
}

footer {
    padding: 10px 0 10px;
    /* border-top: 2px solid var(--separator-colour); */
    color: var(--font-colour);
    text-align: center;
}

footer a {
    color: var(--link-colour);
}

.body {
    flex: 1 0 auto;
}

a {
    text-decoration: underline;
    color: var(--link-colour);
}

hr {
    border: 1px solid var(--separator-colour);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-links-search {
    display: flex;
    flex-direction: column;
}

.nav-links {
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
    text-align: center;
}

.nav-links a {
    /* text-decoration: none; */
    font-family: var(--navbar-font-family);
    font-size: var(--navbar-font-size);
    color: var(--navbar-link-colour);
}

#theme-toggle-button {
    border: none;
    background-color: var(--background);
}

.search {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#searchSiteInput {
    width: auto;

    outline: none;
    border: 2px var(--primary-colour) solid;
    border-radius: 5px;
    padding: 8px;

    color: var(--font-colour);
    background-color: var(--background);
}

#searchSiteInput::placeholder {
    color: var(--font-colour);
    font-size: (var(--body-font-size) - 0.1rem);
}

#site_search_result {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-card {
    padding: 3px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.post-card-date {
    font-size: calc(var(--body-font-size) - 0.2rem);
}

.post-card-link-and-description {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post-card-link {
    font-size: var(--post-link-font-size);
}

.post-card a {
    font-family: var(--post-card-heading-font-family);
    color: var(--postcard-link-colour);
}

.tags-placeholder,
.post-tags-placeholder {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.tags-placeholder a,
.post-tags-placeholder a {
    color: var(--postcard-link-colour);
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) - 0.1rem);
}

.tags-placeholder {
    margin-top: 10px;
}

.tagpage-tags-placeholder {
    margin-top: 20px;
}

.tagpage-tags-placeholder a {
    font-size: var(--body-font-size);
    color: var(--link-colour);
}

.tag-subpage-keyword {
    color: var(--link-colour);
}

/* .page-title-header {
    text-decoration: underline;
} */

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

.anchor {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: 400;

    margin: 0;
    color: var(--heading-font-colour);

    &:hover {
        .anchor {
            opacity: 1;
        }
    }
}

h1 {
    font-size: var(--h1-heading-font-size);
    margin-top: calc(var(--h1-heading-font-size) - 0.1rem);
    line-height: calc(var(--h1-heading-font-size) + 0.1rem);
}

h2 {
    font-size: calc(var(--h1-heading-font-size) - 0.2rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.3rem);
    line-height: calc(var(--h1-heading-font-size) - 0.1rem);
}

h3 {
    font-size: calc(var(--h1-heading-font-size) - 0.3rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.4rem);
    line-height: calc(var(--h1-heading-font-size) - 0.2rem);
}

h4 {
    font-size: calc(var(--h1-heading-font-size) - 0.4rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.5rem);
    line-height: calc(var(--h1-heading-font-size) - 0.3rem);
}

h5 {
    font-size: calc(var(--h1-heading-font-size) - 0.5rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.6rem);
    line-height: calc(var(--h1-heading-font-size) - 0.4rem);
}

h6 {
    font-size: calc(var(--h1-heading-font-size) - 0.6rem);
    margin-top: calc(var(--h1-heading-font-size) - 0.7rem);
    line-height: calc(var(--h1-heading-font-size) - 0.5rem);
}

blockquote {
    border-left: 5px var(--primary-colour) solid;
    margin-left: 0;
    padding: 10px;
    padding-left: 20px;

    color: var(--font-colour-opaque);
}

code {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
}

@media (max-width: 900px) {
    .body-container {
        padding: 15px 45px;
    }

    svg {
        width: auto;
        height: auto;
    }
}

@media (max-width: 750px) {
    .body-container {
        /* padding: 15px 20px; */
        padding: 30px 20px 15px;
        width: auto;
    }

    svg {
        width: auto;
        height: auto;
    }

    .search {
        padding: 0px 0.1em 0px;
    }

    #searchSiteInput {
        width: 100%;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
