{{define "header"}}
<!-- If the template for a particular url does not exist(posts.html), setting it to the specific page template data -->
{{ $PageData := index .DeepDataMerge.Templates .PageURL }}
{{if eq $PageData nil }}
{{ $PageData = .TemplateData }}
{{end}}

<header>
    <nav>
        {{range .DeepDataMerge.LayoutConfig.Navbar}}
        <!-- Replacing with author name for index page -->
        {{ if eq . "index" }}
        <a href="/">home</a>
        {{else}}
        <!-- Other layout fields are filled here -->
        <a href="/{{.}}.html">{{.}}</a>
        {{end}}
        {{end}}
    </nav>

    <div class="theme-and-search">

        {{template "search" .}}

        <!-- Theme toggle -->
        <div class="theme-toggle-div">
            <img id="theme-toggle" src="/static/icons/theme-toggle-purple.svg" alt="Theme Toggle Button" />
        </div>
    </div>

</header>
{{end}}